/* color_primary_light: #7ed56f; */
/* color_primary_medium: #55c57a; */
/* color_primary_dark: #28b485; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3.5rem;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: #777;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

.heading--main {
  font-size: 5.8rem;
  letter-spacing: 4.5rem;
  font-weight: 400;
  margin-bottom: 3.6rem;
  animation: movetoLeft 2s ease-in-out;
}
.heading--secondary {
  font-size: 2.4rem;
  letter-spacing: 2.2rem;
  margin-bottom: 8.4rem;
  font-weight: 600;
  animation: movetoRight 2s ease-in-out;
}
.heading--tertiary {
  margin-bottom: 9.6rem;
  text-align: center;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading--tertiary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.heading-small {
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  font-size: 1.44rem;
  font-weight: 800;
}

@keyframes movetoLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movetoRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 95vh;
  position: relative;
}
.header__img--logo {
  height: 3.8rem;
  display: inline-block;
}
.header__logo--box {
  padding: 4.5rem;
}
.header__text--box {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  flex-direction: column;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #777;
  font-size: 2rem;
}
.btn--white {
  display: inline-block;
  padding: 25px 40px 25px 40px;
  background-color: #fff;
  border-radius: 100px;
  position: relative;
}
.btn--white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.3s ease-in;
}

.btn-text {
  display: inline-block;
  margin-top: 4rem;
  color: #55c57a;
  font-size: 2rem;
  text-decoration: none;
  border: black 3px;
  padding: 7px;
  border-bottom: 3px solid #55c57a;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.btn-card {
  margin-top: 10rem;
  left: 28vw;
  background-color: #55c57a;
  color: white;
}

.composition {
  position: relative;
}
.composition__img {
  width: 55%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: all 0.2s;
  outline-offset: 2rem;
  z-index: 10;
}
.composition__img--1 {
  position: absolute;
  top: 0;
  left: 0;
}
.composition__img--2 {
  position: absolute;
  top: 3rem;
  left: 20rem;
}
.composition__img--3 {
  position: absolute;
  top: 9rem;
  left: 8rem;
}
.composition__img:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-2rem);
  z-index: 20;
}

.composition:hover .composition__img:not(:hover) {
  transform: scale(0.9) translateY(2rem);
}

.cards {
  display: grid;
  grid-template-columns: 27rem 27rem 27rem 27rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 15rem;
  transform: skewY(5deg);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  padding: 2.5rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s;
}
.card:hover {
  transform: translateY(-15px) scaleY(1.05);
  box-shadow: 0 3rem 20rem rgba(255, 255, 255, 0.4);
}

.tour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.tour__card {
  position: relative;
  width: 100%;
  height: 60rem;
  perspective: 1000px;
}

.tour__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.tour__card:hover .tour__card-inner {
  transform: rotateY(180deg);
}

.tour__card--front,
.tour__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #494949;
  border-radius: 0.5rem;
}

.tour__card--back {
  transform: rotateY(180deg);
  color: #494949;
}

.tour__card--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.6), rgba(255, 119, 48, 0.6));
}
.tour__card--2 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.6));
}
.tour__card--3 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.6));
}

.card-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 400;
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 0;
  color: white;
  width: 75%;
}

.heading-span {
  padding: 1rem 1.5rem;
  line-height: 5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.8), rgba(41, 152, 255, 0.6));
}
.heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.6));
}

.tour__card--content {
  font-size: 1.2rem;
  line-height: 1.6;
}
.tour__card--content--back {
  background-image: linear-gradient();
}

.gradient-overlaycard--1,
.gradient-overlaycard--2,
.gradient-overlaycard--3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23rem;
  z-index: -1;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.gradient-overlaycard--1 {
  background-image: linear-gradient(to right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url("/img/nat-5.jpg");
}

.gradient-overlaycard--2 {
  background-image: linear-gradient(to right, rgba(86, 67, 250, 0.8), rgba(41, 152, 255, 0.6)), url("/img/nat-6.jpg");
}

.gradient-overlaycard--3 {
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.85)), url("/img/nat-7.jpg");
}

.tour__card--content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tour-features {
  list-style: none;
  font-size: 1.8rem;
  margin-top: 20rem;
}

.tour_item {
  display: inline-block;
  padding: 0.75rem 6rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.only {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.price {
  font-size: 6.4rem;
  margin-bottom: 6.4rem;
  font-weight: 200;
}

.tour__card--back {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

/* .story {
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 15rem;
  padding: 4.5rem 3rem;
  background-color: $light_grey;
  border-radius: 3px;
  transform: skewX(-12deg);

  &__text {
    padding: 1.5rem;
    box-sizing: border-box;
  }

  &__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50%);
    background-color: red;
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
  }

  &__img {
    &--1,
    &--2 {
      float: left;
      height: 15rem;
      width: 15rem;
      -webkit-shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
    }
  }

  &__para {
    &--1,
    &--2 {
      padding: 15px 0;
      transform: translateX(5rem) skewX(12deg);
    }
  }
}

.para {
  transform: translateX(3rem);
  margin-bottom: -1rem;
} */
.story-box {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.margin-center {
  margin: 0 auto;
}

.story {
  margin: 0 auto;
  width: 75%;
  padding: 4.5rem 4.5rem;
  transform: skewX(-12deg);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  /* &:hover &__caption {
    &--1,
    &--2 {
      transform: translate(-50%, -50%);
      color: red;
    }
  } */
}
.story:hover .story__img {
  filter: blur(3px) brightness(80%);
  transform: scale(1) translate(-2.5rem);
}

.margin-medium {
  margin-top: 8rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  color: white;
  font-weight: bolder;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.story__img {
  height: 100%;
  transform: translateX(-3rem) scale(1.4);
}

.story__text-box {
  padding: 2rem;
  transform: translateX(3rem) skewX(12deg);
}

.booking {
  background-color: #fff;
  width: 80%;
  height: 65%;
  display: flex; /* Added */
  justify-content: flex-start; /* Added */
  align-items: flex-start; /* Added */
  flex-direction: column;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
}

.padding-medium {
  padding-left: 6rem;
}

.padding-top {
  padding-top: 6rem;
}

.form {
  width: 100%;
  margin-top: -1.6rem;
}
.form-group {
  font-family: inherit;
}
.form-name {
  outline: none;
  font-family: inherit;
  width: 90%;
  padding: 1.2rem;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 2rem;
  font-size: inherit;
  display: block;
}
.form-name:focus {
  outline: none;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form-name:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form-name:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem);
}
.form-name:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem);
}
.form-label {
  width: 90%;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  display: block;
  transition: all 0.4s;
}
.form-email {
  font-family: inherit;
  font-size: inherit;
  width: 90%;
  padding: 1.2rem;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: 1rem;
}
.form-email:focus {
  outline: none;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form-email:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form-email:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem);
}
.form-email:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.5rem);
}

.radio-group {
  padding-top: 2rem;
  display: inline-block;
}

.radio-label {
  margin-right: 4.5rem;
}

.radio-input {
  opacity: 0;
  visibility: hidden;
}

.radio-button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
  display: inline-block;
  transform: translateY(1rem);
  margin-right: 1.5rem;
  position: relative;
}
.radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}

.radio-input:checked ~ .radio-label .radio-button::after {
  opacity: 1;
}

.section-about {
  margin-top: -20vh;
  padding: 25rem 25rem;
  background-color: #f7f7f7;
}

.about-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}

.para {
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  font-weight: 500;
  display: flex;
  gap: 4.5rem;
  flex-direction: column;
}

.section-features {
  margin-top: -10vh;
  display: flex;
  padding-bottom: 15rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  margin-bottom: 15rem;
  transform: skewY(-5deg);
}

.feature-box__icon {
  font-size: 7rem;
  padding: 1.5rem;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.feature-box__text {
  margin-top: -1rem;
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1.7px;
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 15rem;
  margin-top: -25rem;
}

.section-stories {
  background-color: transparent;
  padding: 18rem 15rem;
  margin-top: -12rem;
  position: relative;
}

.section-booking {
  height: 120vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */