$color_primary_light: #7ed56f;
$color_primary_medium: #55c57a;
$color_primary_dark: #28b485;

$dark_grey: #333;
$light_dark_grey: #777;
$light_grey: #f7f7f7;

$color_black: #000;
$color_white: #fff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
