* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3.5rem;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  color: $light_dark_grey;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}
