.cards {
  display: grid;
  grid-template-columns: 27rem 27rem 27rem 27rem;
  column-gap: 8rem;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 15rem;
  transform: skewY(5deg);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  padding: 2.5rem 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-15px) scaleY(1.05);
    box-shadow: 0 3rem 20rem rgba(255, 255, 255, 0.4);
  }
}

.tour {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}

.tour__card {
  position: relative;
  width: 100%;
  height: 60rem;
  perspective: 1000px;
}

.tour__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.tour__card:hover .tour__card-inner {
  transform: rotateY(180deg);
}

.tour__card--front,
.tour__card--back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #494949;
  border-radius: 0.5rem;
}

.tour__card--back {
  transform: rotateY(180deg);
  //background-color: #ff6f61; /* Back color */
  color: #494949;
}

.tour__card {
  &--1 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.6),
      rgba($color-secondary-dark, 0.6)
    );
  }
  &--2 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.8),
      rgba($color-tertiary-dark, 0.6)
    );
  }
  &--3 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.6)
    );
  }
}

.card-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 400;
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 0;
  color: white;
  width: 75%;
}
.heading-span {
  padding: 1rem 1.5rem;
  line-height: 5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  &--1 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)
    );
  }
  &--2 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-dark, 0.8),
      rgba($color-tertiary-light, 0.6)
    );
  }
  &--3 {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-medium, 0.8),
      rgba($color-primary-light, 0.6)
    );
  }
}

.tour__card--content {
  font-size: 1.2rem;
  line-height: 1.6;
  &--back {
    background-image: linear-gradient();
  }
}

.gradient-overlaycard--1,
.gradient-overlaycard--2,
.gradient-overlaycard--3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 23rem;
  z-index: -1;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.gradient-overlaycard--1 {
  background-image: linear-gradient(
      to right,
      rgba($color-secondary-light, 0.85),
      rgba($color-secondary-dark, 0.85)
    ),
    url("/img/nat-5.jpg");
}

.gradient-overlaycard--2 {
  background-image: linear-gradient(
      to right,
      rgba($color-tertiary-dark, 0.8),
      rgba($color-tertiary-light, 0.6)
    ),
    url("/img/nat-6.jpg");
}

.gradient-overlaycard--3 {
  background-image: linear-gradient(
      to right,
      rgba($color-primary-medium, 0.8),
      rgba($color-primary-light, 0.85)
    ),
    url("/img/nat-7.jpg");
}

.tour__card--content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tour-features {
  list-style: none;
  font-size: 1.8rem;
  margin-top: 20rem;
}

.tour_item {
  display: inline-block;
  padding: 0.75rem 6rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.only {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.price {
  font-size: 6.4rem;
  margin-bottom: 6.4rem;
  font-weight: 200;
}

.tour__card--back {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}
