.booking {
  background-color: #fff;
  width: 80%;
  height: 65%;
  display: flex; /* Added */
  justify-content: flex-start; /* Added */
  align-items: flex-start; /* Added */
  flex-direction: column;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);

  background-size: cover;
}

.padding-medium {
  padding-left: 6rem;
}
.padding-top {
  padding-top: 6rem;
}

.form {
  width: 100%;
  margin-top: -3.6rem;
  &-group {
    font-family: inherit;
    // margin-bottom: 1.5rem;
  }

  &-name {
    outline: none;
    font-family: inherit;
    width: 90%;
    padding: 1.5rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent;
    margin-bottom: 1rem;
    font-size: inherit;
    display: block;
    &:focus {
      outline: none;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $color_primary_medium;
      &:invalid {
        border-bottom: 3px solid $color_secondary_dark;
      }
    }
  }

  &-name:placeholder-shown + &-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.5rem);
  }
  &-label {
    width: 90%;
    margin-bottom: 1.5rem;
    // padding-bottom: 4rem;
    padding-left: 1.5rem;
    //margin-top: -4.5rem;
    display: block;
    transition: all 0.4s;
  }
  &-email {
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    padding: 1.5rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent;
    margin-bottom: 1rem;
    &:focus {
      outline: none;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid $color_primary_medium;
      &:invalid {
        border-bottom: 3px solid $color_secondary_dark;
      }
    }
  }

  &-email:placeholder-shown + &-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4.5rem);
  }
}

.radio-group {
  padding-top: 3rem;
  display: inline-block;
}
.radio-label {
  margin-right: 8rem;
  margin-left: 2.5rem;
}
